.panel-default > .panel-heading-custom {
    background: #D24E68; color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.jumbotron {
	background-image: url("../img/header.png");
	background-size: 100%;
    text-align: center;   
}

.jumbotron > h1 {
    text-shadow: 1px 1px 2px black;
}